<html>

<head>
    <title>Selector Test</title>
</head>
<body>
    <div id="header">
        <ul>
            <li class="active">Home<li>
            <li>Subpage 1<li>
            <li>Subpage 2<li>
            <li class="product">Subpage 3<li>
            <li class="product">Subpage 4<li>
        </ul>
    </div>
    <div id="content">
        <div id="example-div">Example Div By ID</div>

        <form name="sample-form">
            <input name="email" type="text" value="test@example.com">
        </form>
    </div>

</body>
</html>
